@media only screen and (max-width: 800px) {
  .grid {
    grid-column-end: 3;
  }
}

@media only screen and (min-width: 801px) {
  .grid {
    grid-column-end: 3 !important;
  }
}

@media only screen and (max-width: 800px) {
  .container {
    display: grid;
    grid-template-columns: 1;
    margin-top: 80px;
  }
}

@media only screen and (min-width: 801px) {
  .container {
    display: grid;
    width: 100%;
    grid-template-columns: 100px 3fr;
    margin-top: 80px;
  }
}
